# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Editor settings
.vscode/
.idea/

# Git
.git/
.gitignore

# OS junk
.DS_Store
Thumbs.db

# Local data & models (we mount these instead)
data/
models/